/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

/* Partes Principais */
/*html {
  font-size: 16px; POR PADRÃO
}*/

body{
  background-color: #1B2430;
  color: #f6f6f6;
  font-family: Times;
  height: 100vh;  /* View Height (View Port) - 100% da tela do nosso navegador*/
  box-sizing: border-box;
}

/*footer {
  background-color: #51557E;
  color: whitesmoke;
  font-weight: bold;
}*/

/* Tags */
h1 {
  color: whitesmoke;
}

p {
  font-size: large;
}

button {
  background-color: purple;
  color: white;
  border: none;
  font-weight: bolder;
  border-radius: 50px;
  height: 25px;
}

a {
  color: DodgerBlue;
}

img {
  width: 225px;
  height: 220px;
  border-radius: 3px;
}

/* IDs e Tags (respectivamente)*/
#titulo {
  color: #22D4FD;
  border: 1px solid #22D4FD;
  padding: 7px;
}

#introducao {
  color: darkgray;
}

.apresentacao {
  display: flex;
  align-items: center;
}